footer {
    position: absolute;
    bottom: auto;
    background-color: rgb(29, 0, 97);
    color: #fff;
    padding: 10px 0px 0px 0px;
    height: auto;
    width: 100%;
  }
  
  footer p {
    text-align: center;
    color: var(--colors-white, #FFF);

/* Text / Paragraph */
font-family: DM Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
  }
  
  footer h4{display: flex;
    width: 180px;
    height: 20px;
    padding: 0px 72px 0px 2px;
    align-items: center;
    flex-shrink: 0;
color: white;}
footer .line{
    stroke-width: 2px;
    stroke: var(--colors-white, #FFF);
    opacity: 0.5;
margin-top: 40px;
margin-top: 20px;}

footer h2{
  color:  rgb(29, 0, 97);;
}