@import url('https://fonts.cdnfonts.com/css/dm-sans');


.background{

    background-color: rgb(37, 16, 113);
    height:140vh;
    padding: 100px 200px 0px 200px;
}

.background .small-square-button{
    display: flex;
    align-items:center;
     justify-content:center;
    

    border-radius: 30px;
    border: 1px solid var(--colors-white, #FFF);
    /* width: 10%; */
    padding: 10px 15px 10px 15px;
    font-family: DM Sans;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 26px; /* 144.444% */
color: white;
background-color: transparent;
}
h2 {
    color: white;
  }
  .background .row {
    margin-bottom: 20px; /* Adjust this value to control the margin between rows */
  }

  .background .row .title {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: DM Sans;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 26px; /* 185.714% */
letter-spacing: 2px;
text-transform: uppercase;
  }

  .background .row .specific{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: DM Sans;
font-size: 22px;
font-style: normal;
font-weight: 500;
line-height: 32px; /* 145.455% */
  }