@import url('https://fonts.cdnfonts.com/css/dm-sans');


  .background{

    background-color: rgb(26, 8, 128);
    height: auto;
    width: 100%;
   
  }
  .background .all-wrapper{
    padding: 100px;
  }
  .background .all-wrapper h1{
    color: white;
    
     
    
  }
  .background .all-wrapper .card_border{

    padding: 30px;
    border-radius: 10px;
    border: 2px solid var(--colors-white, #FFF);
    margin: 10px;
    
  }
.background .all-wrapper .card_border p{
  font-family: DM Sans;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 28px;
}
